<ion-header>
  <ion-toolbar class="header-background-color">
    <ion-grid>
      <ion-row>
        <ion-col class="header-col" style="text-align: -webkit-left">
          <a [routerLink]="['/tabs/tabs/main']">
            <ion-icon class="header-icon" name="return-left"></ion-icon>
          </a>
        </ion-col>
        <ion-col class="header-col" style="text-align: center">
          Харчування
        </ion-col>
        <ion-col class="header-col item-align-right" style="text-align: -webkit-right">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
