<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="main">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="calendar">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Calendar</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="options">
            <ion-icon name="construct"></ion-icon>
            <ion-label>Options</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
