<ion-header>
  <ion-toolbar class="header-background-color">
    <ion-grid>
      <ion-row>
        <ion-col class="header-col" style="text-align: -webkit-left">
          <a [routerLink]="['/tabs/tabs/main']">
            <ion-icon class="header-icon" name="return-left"></ion-icon>
          </a>
        </ion-col>
        <ion-col class="header-col" style="text-align: center">
          Регулярні процедури
        </ion-col>
        <ion-col class="header-col item-align-right" style="text-align: -webkit-right">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-label>
    <ion-grid>
      <ion-row>
        <ion-col class="grid_col" size="6">
          <div>
            <a>
              <ion-img class="icon_img" src="assets\img\incident.svg"></ion-img>
            </a>

          </div>
          інцендент
        </ion-col>
        <ion-col class="grid_col" size="6">
          <div>
            <a>
              <ion-img class="icon_img" src="assets\img\taking_medication.svg"></ion-img>
            </a>
          </div>
          Прийом ліків
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="grid_col" size="6">
          <div>
            <a>
              <ion-img class="icon_img" src="assets\img\vaccination.svg"></ion-img>
            </a>
          </div>
          Вакцинація
        </ion-col>
        <ion-col class="grid_col" size="6">
          <div>
            <a>
              <ion-img class="icon_img" src="assets\img\from_fleas_and_ticks.svg"></ion-img>
            </a>
          </div>
          Від бліх і кліщів
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="grid_col" size="6">
          <div>
            <a>
              <ion-img class="icon_img" src="assets\img\from_worms.svg"></ion-img>
            </a>
          </div>
          Від глистів
        </ion-col>
        <ion-col class="grid_col" size="6">
          <div>
            <a>
              <ion-img class="icon_img" src="assets\img\measurement.svg"></ion-img>
            </a>
          </div>
          Вимірювання
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="grid_col" size="6">
          <div>
            <a>
              <ion-img class="icon_img" src="assets\img\menstrual_cycle.svg"></ion-img>
            </a>
          </div>
          Менстр цикл
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-label>
<ion-content>

</ion-content>
