<ion-header>
  <ion-toolbar class="header-background-color">
    <ion-grid>
      <ion-row>
        <ion-col class="header-col" style="text-align: -webkit-left">
          <a [routerLink]="['/tabs/tabs/main']">
            <ion-icon class="header-icon" name="return-left"></ion-icon>
          </a>
        </ion-col>
        <ion-col class="header-col" style="text-align: center">
          Гігієна
        </ion-col>
        <ion-col class="header-col item-align-right" style="text-align: -webkit-right">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-label>
    <ion-grid>
      <ion-row>
        <ion-col class="grid_col" size="6">
          <div>
            <a>
              <ion-img class="icon_img" src="assets\img\bath.svg"></ion-img>
            </a>

          </div>
          Ванна
        </ion-col>
        <ion-col class="grid_col" size="6">
          <div>
            <a>
              <ion-img class="icon_img" src="assets\img\haircut.svg"></ion-img>
            </a>
          </div>
          Стрижка
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="grid_col" size="6">
          <div>
            <a>
              <ion-img class="icon_img" src="assets\img\Ears.svg"></ion-img>
            </a>
          </div>
          Вуха
        </ion-col>
        <ion-col class="grid_col" size="6">
          <div>
            <a>
              <ion-img class="icon_img" src="assets\img\claws.svg"></ion-img>
            </a>
          </div>
          Кігті
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="grid_col" size="6">
          <div>
            <a>
              <ion-img class="icon_img" src="assets\img\teeth.svg"></ion-img>
            </a>
          </div>
          Зуби
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-label>
  <ion-content>

  </ion-content>
