<ion-header>
    <ion-toolbar class="header-background-color">
        <ion-grid>
            <ion-row>
                <ion-col class="header-col" style="text-align: -webkit-left">
                    <a [routerLink]="['/tabs/tabs/main']">
                        <ion-icon class="header-icon" name="return-left"></ion-icon>
                    </a>
                </ion-col>
                <ion-col class="header-col" style="text-align: center">
                    Календар
                </ion-col>
                <ion-col class="header-col item-align-right" style="text-align: -webkit-right">
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="marginforcelendar" style="width: -moz-available; height: 2em;background: #d38d0091">
        <ion-label>
            <strong>Сьогодні</strong>
        </ion-label>
    </div>

    <div class="marginforcelendar" style="width: -moz-available; height: 2em;background: #d38d0091">
        <ion-label>
            <strong>Тиждень</strong>
        </ion-label>
    </div>

    <div class="marginforcelendar" style="width: -moz-available; height: 2em;background: #d38d0091">
        <ion-label>
            <strong>Рік</strong>
        </ion-label>
    </div>
</ion-content>
