<ion-header>
    <ion-toolbar class="header-background-color">
        <ion-grid>
            <ion-row>
                <ion-col class="header-col" style="text-align: -webkit-left">
                    Test
                </ion-col>
                <ion-col class="header-col" style="text-align: center">
                    Calendar
                </ion-col>
                <ion-col class="header-col item-align-right" style="text-align: -webkit-right">
                    <a>
                        <ion-icon class="header-icon" name="add-circle"></ion-icon>
                    </a>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
