<ion-header>
  <ion-toolbar class="header-background-color">
    <ion-grid>
      <ion-row>
        <ion-col class="header-col" style="text-align: -webkit-left">
          <a [routerLink]="['/tabs/tabs/main']">
            <ion-icon class="header-icon" name="return-left"></ion-icon>
          </a>
        </ion-col>
        <ion-col class="header-col" style="text-align: center">
          Медицина
        </ion-col>
        <ion-col class="header-col item-align-right" style="text-align: -webkit-right">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-label>
    <ion-grid>
      <ion-row>
        <ion-col size="6" style="text-align: -webkit-center;align-self: center;">
          <div>
            <a>
              <ion-img src="assets\img\allergy.svg" style="color: #1e2023;width: 50px; height: 50px;"></ion-img>
            </a>
          </div>
          Алергія
        </ion-col>
        <ion-col size="6" style="text-align: -webkit-center;align-self: center;">
          <div>
            <a>
              <ion-img src="assets\img\Analyzes.svg" style="color: #1e2023;width: 50px; height: 50px;"></ion-img>
            </a>
          </div>
          Аналізи
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" style="text-align: -webkit-center;align-self: center;">
          <div>
            <a>
              <ion-img src="assets\img\visiting_a_vet.svg" style="color: #1e2023;width: 50px; height: 50px;"></ion-img>
            </a>
          </div>
          Відвідування ветеринара
        </ion-col>
        <ion-col size="6" style="text-align: -webkit-center;align-self: center;">
          <div>
            <a>
              <ion-img src="assets\img\medical_documentssvg.svg" style="color: #1e2023;width: 50px; height: 50px;"></ion-img>
            </a>
          </div>
          Медичні документи
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" style="text-align: -webkit-center;align-self: center;">
          <div>
            <a>
              <ion-img src="assets\img\medical_history.svg" style="color: #1e2023;width: 50px; height: 50px;"></ion-img>
            </a>
          </div>
          Історія хвороби
        </ion-col>
        <ion-col size="6" style="text-align: -webkit-center;align-self: center;">
          <div>
            <a>
              <ion-img src="assets\img\Operations.svg" style="color: #1e2023;width: 50px; height: 50px;"></ion-img>
            </a>
          </div>
          Операції
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-label>
  <ion-content>

  </ion-content>
